<%
// 首页图片 13
var topPics = temp.rollPicture(1);

// 最新动态
var newArticles = temp.articlePageTop(1, 10, session.site.siteId);

// 新闻中心
var news = temp.articlePage(1, 6, 3);

// 名家书法作品
var production = temp.articlePage(1, 4, 277);

//协会简介
var association  = temp.articlePage(1, 4, 2);

// 活动集锦
var active = temp.articlePage(1, 4, 4);

// 教育培训 284
var educations = temp.articlePage(1, 4,284);

// 视频中心
var videos = temp.articlePage(1, 4,287);

// 公告
var noticeList = temp.notice(1);

// 下载中心
var download = temp.articlePage(1, 4,285);

// 联系我们
var contact = temp.articlePage(1, 4,289);
%>
<%var headContent = {%>
	<% include("/template/mtg/includes/header.html"){} %>
	<meta property="qc:admins" content="3746002437626416706375" />
	<meta name="baidu-site-verification" content="HoZ9m8VIaf" />
<%};%>
<%
var bodyContent = {
%>
<%  include("/template/mtg/includes/header_menu.html"){} %>

<div class="wrap">
	<!--新闻中心-->
	<div class="a1 mod">
		<div class="title1">
			<div class="catname">
				<a href="" target="_blank">新闻中心</a>
			</div>
			<div class="space"></div>
			<div class="gundong" id="marq">
				<!--
				<ul>
					<li><a href="http://www.zgybsfxh.com/index.php?m=content&c=index&a=show&catid=37&id=37" target="_blank">关于册页手卷展（第三届）延迟截稿日期的通知</a></li>
				</ul>
				-->
			</div>
			<div class="more"><a href="${BASE_PATH }${flyfox.getMenu(3)}.html" target="_blank">更多</a></div>
		</div>
		<div class="c1">

			<!-- 图片 -->
			<div class="">

				<div class="panel panel-default">
					<div class="panel-body" style="padding: 0px;">

						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<% for(item in topPics){ %>
								<li data-target="#carousel-example-generic" data-slide-to="${itemLP.index-1}" ${itemLP.index==1?"class=\"active\"":""}></li>
								<%}%>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox" style="text-align: center">
								<% for(item in topPics){ %>
								<div  class="item ${itemLP.index==1?'active':''}" style="height: 350px;text-align:center" >
									<% if(strutil.isNotEmpty(item.url)) { %>
									<a href="${item.url}" target="_blank">
										<% } %>
										<div style="text-align: center">
											<img src="${flyfox.getImage(item)}" alt="${item.title}" style="height: 350px;width: auto">
										</div>
										<% if(strutil.isNotEmpty(item.url)) { %>
									</a>
									<% } %>
									<div class="carousel-caption">
										<h4></h4>
										<p>${item.title}</p>
									</div>
								</div>
								<% } %>


							</div>
							<!-- Controls -->
							<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">上一页</span>
							</a>
							<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								<span class="sr-only">下一页</span>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="c2">
			<ul class="list">
				<% for(item in news.list){ %>
					<li>
						<a href="${BASE_PATH }front/article/${item.id}.html" target="_blank" title="${item.title}">
							<% if (strutil.length(item.title) > 30) { %>
							${strutil.subStringTo(item.title, 0, 30)}...
							<% 	} else { %>
							${item.title}
							<%  } %>
						</a>
					</li>
				<% } %>
			</ul>
		</div>
	</div>
	<!--协会简介和活动集锦-->
	<div class="a2 mod">
		<div class="c1">
			<div class="title1">
				<div class="catname"><a href="${BASE_PATH }${flyfox.getMenu(2)}.html" target="_blank">协会简介</a></div>
				<div class="space"></div>
				<div class="more"><a href="${BASE_PATH }${flyfox.getMenu(2)}.html" target="_blank">更多</a></div>
			</div>
			<div class="list">
				<ul>
					<% for(item in association.list){ %>
					<li>
						<a href="${BASE_PATH }front/article/${item.id}.html" target="_blank" title="${item.title}">
							<% if (strutil.length(item.title) > 30) { %>
							${strutil.subStringTo(item.title, 0, 30)}...
							<% 	} else { %>
							${item.title}
							<%  } %>
						</a>
					</li>
					<% } %>
				</ul>
			</div>
		</div>
		<div class="c2">
			<div class="title1">
				<div class="catname"><a href="${BASE_PATH }${flyfox.getMenu(4)}.html" target="_blank">活动集锦</a></div>
				<div class="space"></div>
				<div class="more"><a href="${BASE_PATH }${flyfox.getMenu(4)}.html" target="_blank">更多</a></div>
			</div>
			<ul class="list2">
				<% for(item in active.list){ %>
					<% if(itemLP.index <= 2){ %>
					<li class="item">
						<div class="picture">
							<a href="${BASE_PATH }front/article/${item.id}.html" target="_blank">
								<img alt="${item.title}" src="${flyfox.getImage(item)}" width="183" height="117">
							</a>
						</div>
						<div class="title">
							<a href="${BASE_PATH }front/article/${item.id}.html" target="_blank">${item.title}</a>
						</div>
						<div class="description">${item.title}</div>
						<div class="detail"><a href="${BASE_PATH }front/article/${item.id}.html">点击详情&nbsp;&nbsp;&gt;&gt;</a></div>
					</li>
					<% } %>
				<% } %>
			</ul>
		</div>
	</div>
	<!--名家书法作品-->
	<div class="a3 mod">
		<div class="title1">
			<div class="catname"><a href="${BASE_PATH }${flyfox.getMenu(277)}.html">名家作品展示</a></div>
			<div class="space"></div>
			<!--
			<div class="tabs">
				<span class="hover" onmouseover="hover(this,'a3')"><a style="background:0; color:white; padding:0px; margin:0px;" href="#">传承有道</a></span>
				<span onmouseover="hover(this,'a3')"><a style="background:0; color:white; padding:0px; margin:0px;" href="#">水木清华</a></span>
			</div>
			-->
		</div>
		<div class="content" id="a3">
			<div class="sheet" style="display:block;">

				<% for(item in production.list){ %>
					<% if(itemLP.index <= 4){ %>
					<div class="item">
						<div class="picture2">
							<a href="${BASE_PATH }front/article/${item.id}.html" target="_blank">
								<img alt="${item.title}" src="${flyfox.getImage(item)}" width='242' height='167'>
							</a>
						</div>
						<div class="title">
							<a href="${BASE_PATH }front/article/${item.id}.html" target="_blank">${item.title}</a>
						</div>
					</div>
					<% } %>
				<% } %>

			</div>
		</div>
	</div>
	<div class="ad2"><script language="javascript" src="http://www.zgybsfxh.com/caches/poster_js/12.js"></script></div>
	<!--其他-->
	<div class="a5 mod">
		<div class="cat-area">
			<div class="mod">
				<div class="title1">
					<div class="catname"><a href="${BASE_PATH }${flyfox.getMenu(284)}.html" target="_blank">教育培训</a></div>
					<div class="space"></div>
					<div class="more"><a href="${BASE_PATH }${flyfox.getMenu(284)}.html" target="_blank">更多</a></div>
				</div>

				<% for(item in educations.list){ %>
					<% if(itemLP.index <= 4){ %>
						<div class="item">
							<div class="title">
								<a href="${BASE_PATH }front/article/${item.id}.html" target="_blank">${item.title}</a>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
			<div class="mod">
				<div class="title1">
					<div class="catname"><a href="${BASE_PATH }${flyfox.getMenu(285)}.html" target="_blank">下载中心</a></div>
					<div class="space"></div>
					<div class="more"><a href="${BASE_PATH }${flyfox.getMenu(285)}.html" target="_blank">更多</a></div>
				</div>

				<% for(item in download.list){ %>
					<% if(itemLP.index <= 4){ %>
						<div class="item">
							<div class="title">
								<a href="${BASE_PATH }front/article/${item.id}.html" target="_blank">${item.title}</a>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>

			<div class="mod">
				<div class="title1">
					<div class="catname"><a href="${BASE_PATH }${flyfox.getMenu(289)}.html" target="_blank">联系我们</a></div>
					<div class="space"></div>
					<div class="more"><a href="${BASE_PATH }${flyfox.getMenu(289)}.html" target="_blank">更多</a></div>
				</div>

				<% for(item in contact.list){ %>
				<% if(itemLP.index <= 4){ %>
				<div class="item">
					<div class="title">
						<a href="${BASE_PATH }front/article/${item.id}.html" target="_blank">${item.title}</a>
					</div>
				</div>
				<% } %>
				<% } %>
			</div>

		</div>
	</div>

	<!--视频中心-->
	<div class="a7 mod">
		<div class="c1" id="a7">
			<div class="title1">
				<div class="catname"><a href="${BASE_PATH }${flyfox.getMenu(287)}.html" target="_blank">视频中心</a></div>
				<div class="space"></div>
				<div class="more"><a href="${BASE_PATH }${flyfox.getMenu(287)}.html" target="_blank">更多</a></div>
			</div>
			<div class="sheet" style="display:block;">
				<% for(item in videos.list){ %>
					<% if(itemLP.index <= 4){ %>
						<div class="item">
							<div class="picture">
								<a href="${BASE_PATH }front/article/${item.id}.html" target="_blank">
									<img alt="${item.title}" src="${flyfox.getImage(item)}" width='242' height='167'>
								</a>
								<div class="title_bg"></div>
								<div class="title">
									<a href="${BASE_PATH }front/article/${item.id}.html" target="_blank">${item.title}</a>
								</div>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
		</div>

		<div class="c2">
			<div class="title1">
				<div class="catname">互动平台</div>
				<div class="space"></div>
			</div>
			<div class="code">
				<p><img src="${BASE_PATH}/static/template/ybsf/ybsf_gzh.jpg" alt="天津市硬笔书法协会官方微信平台"><span>天津市硬笔书法协会<br />官方微信平台</span></p>
			</div>
		</div>
	</div>
</div>
<!--footer-->
<%  include("/template/mtg/includes/footer.html"){} %>

<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>