<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
		<tr>
			<td>会员作品: </td>
		</tr>
        <%if(!isEmpty(model.image1Id)) {%>
            <tr>
                <td><img src="upload/member/${model.image1Id}"  onerror="javascript:this.src='${url}/member/${model.image1Id}'"  style="height: 600px"/></td>
            </tr>
        <%}%>
        <%if(!isEmpty(model.image2Id)) {%>
            <tr>
                <td><img src="upload/member/${model.image2Id}" onerror="javascript:this.src='${url}/member/${model.image1Id}'" style="height: 600px"/></td>
			</tr>
        <%}%>
        <%if(!isEmpty(model.image3Id)) {%>
            <tr>
				<td><img src="upload/member/${model.image3Id}"  onerror="javascript:this.src='${url}/member/${model.image1Id}'" style="height: 300px"/></td>
			</tr>
        <%}%>

		<%if(!isEmpty(file.photo)) {%>
		<tr>
			<td>会员头像: </td>
		</tr>
		<tr>
			<td><img src="upload/member/${file.photo}" onerror="javascript:this.src='${url}/member/${file.photo}'"  style="height: 600px"/></td>
		</tr>
		<%}%>
		<%if(!isEmpty(file.resume)) {%>
		<tr>
			<td><a href="${url}/member/${file.resume}" onerror="javascript:this.href='${url}/member/${file.resume}'">简历下载</a></td>
		</tr>
		<%}%>
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>