<div class="footer">
	<div class="part1">
		<div class="links center">
			<div class="group">
				<div class="group_title">友情链接</div>
				<div class="link">
					<% for(item in friendlylinkList){ %>
					<a href="${item.url}" target="_blank" title="${item.name}">
						<% if (strutil.length(item.name) > 18) { %>
						${strutil.subStringTo(item.name, 0, 18)}...
						<% 	} else { %>
						${item.name}
						<%  } %>
						<%}%>
					</a>
				</div>
			</div>
		</div>
		<div class="info_links center">
			<p>天津市硬笔书法协会官网</p>
			<p>地址：天津市南开区古文化街文化小城B-210&nbsp; 邮编：300090 |  联系电话：022-27353283；18630812972</p>
			<p>网址：http://www.tjybsf.cn | 津ICP备16001281号-1 | 天津市硬笔书法协会 版权所有 | 监管部门：中华人民共和国文化部、中华人民共和国民政部</p>
		</div>
	</div>

</div>