<!--顶部-->
<div class="top">
	<div class="area center">
		<div class="welcome">天津市硬笔书法协会官方网站</div>
		<div class="time" id="currentDate"></div>
	</div>
</div>
<!--logo和频道导航-->
<div class="header">
	<div class="logo"><a href="http://www.tjybsf.cn/"><img src="${BASE_PATH}/static/template/ybsf/logo2.png"  width="400" height="54"/></a></div>
	<div class="search">
		<form action="http://www.tjybsf.cn" method="get" target="_blank">
			<input type="hidden" name="m" value="search"/>
			<input type="hidden" name="c" value="index"/>
			<input type="hidden" name="a" value="init"/>
			<input type="hidden" name="typeid" value="1" id="typeid"/>
			<input type="hidden" name="siteid" value="1" id="siteid"/>
			<!--这个需要后续补充
			<input type="text" class="text" name="q" id="q" value="请输入关键词" onfocus="if(this.value=='请输入关键词'){this.value='';} " onblur="if(this.value==''){this.value='请输入关键词';}" autocomplete="off">
			-->
			<input type="submit" value="搜 索" class="button" />
		</form>
	</div>
	<div class="nav_bar">
		<ul>
			<!-- <li><a href="http://www.zgybsfxh.com" class="on">网站首页</a></li> -->
			<% if (!isEmpty(folders)){
				for(item in folders["0"]){
					var childs = folders[item.id+''];
					if(isEmpty(childs))
					 {
					%>
						<% if(item.type==1){ %>
						<li><a href="${BASE_PATH }${flyfox.getMenu(item.id)}.html">${item.name}</a></li>
						<% } else if(item.type==2){ %>
						<li><a href="${strutil.startWith(item.jump_url,'http')?'':BASE_PATH}${item.jump_url}">${item.name}</a></li>
						<% } else if(item.type==3){ %>
						<li><a href="${strutil.startWith(item.jump_url,'http')?'':BASE_PATH}${item.jump_url}" target="_blank">${item.name}</a></li>
						<% } else if(item.type==4){ %>
						${item.jump_url}
						<% } %>
					<%
					}
				}
			}
			%>

		</ul>
	</div>
	<div class="clear"></div>
</div>



	